



<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title> Stock Predictor Login </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <!-- component -->
  <div style="
  display: flex;
  font-size: 60px;
  justify-content: center;
  font-family: crimson text;
">

    <h1> Chrisher </h1>
    {% if error %}
{{ error }}

<br/>

{% endif %}
  </div>
  <div class="h-screen bg-gradient-to-br from-blue-600 to-indigo-600 flex justify-center items-center w-full">
    <form>
      <div class="bg-white px-10 py-8 rounded-xl w-screen shadow-md max-w-sm">
        <div class="space-y-4">
          <h1 class="text-center text-2xl font-semibold text-gray-600">Login</h1>
          
<form method = "GET" action="{% url 'check' %}">
    {% csrf_token %}
          <div>
            <label for="email" class="block mb-1 text-gray-600 font-semibold">Username</label>
            <input type="text" class="bg-indigo-50 px-4 py-2 outline-none rounded-md w-full" name="username" />
          </div>
         
          <div>
            <label for="email" class="block mb-1 text-gray-600 font-semibold">Password</label>
            <input type="password" class="bg-indigo-50 px-4 py-2 outline-none rounded-md w-full" name="password" />
          </div>

        <button class="mt-4 w-full bg-gradient-to-tr from-blue-600 to-indigo-600 text-indigo-100 py-2 rounded-md text-lg tracking-wide" type="submit">Login</button>

    </form>
  </div>
  </div>
  </div>
</body>
</html>
